<ion-content>
  <div class="white">
    <ion-toolbar>
      <div class="imgLogo">
        <img src="assets/logo.png"/>
      </div>
    </ion-toolbar>
    <div class="logo">
      <img />
    </div>
    <div class="form">
      <ion-label> Escolha o arquivo para upload: </ion-label>
      <p>
      <div>
        <!-- colocar a imagem -->
        <input type="file" >
      </div>
        
      <ion-button type="submit" value="submit" color="warning">Enviar imagem</ion-button>
    </div>
  </div>
</ion-content>